{% extends "ServicioTecnicoApp/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ServicioTecnicoApp/img/imagenprueba6.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Soluciones de servicio técnico</span>
            <span class="section-heading-lower"></span>
          </h2>
          <p class="mb-3">Arreglamos tu equipo de fallas típicas como pantalla, teclado, touchpad, procesador, placa madre, tarjeta de video, etc. y ofrecemos servicio de mantenimiento preventivo y correctivo.
          </p>
         
        </div>
      </div>
    </div>
  </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total con la reparación y venta de insumos</span>
              </h2>
              <p class="mb-0">Con más de 5 años de experiencia en reparaciones y venta de insumos, garantizamos a nuestros clientes el mejor servicio del mercado con la mayor eficacia posible. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}

    